[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "regextable"]
	path = regextable
	url = https://github.com/judgelord/regextable
